#container{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px; 
    padding: 15px;
    justify-content: center;
}

.gridrows{
    border: 1px soild black;
}
.gridcolumns{
    border: 1px soild black;
}
